<div class="row">
  <div class="p-auto text-center ps-md-5 pe-md-5 col-12 col-md-10 m-auto">
    <h2 class="first-text text-white">Câștigă vizibilitate în mediul online prin marketing-ul digital.</h2>
    <h5 class="first-text">
      DIGITIFY este o agenție de marketing, în care pasiunea, creativitatea și inovarea se reunesc pentru a creiona
      profilurile viitoarelor afaceri de succes.
      <br>

      Alocă-ți timp pentru a face o schimbare în organizația ta! Alege să crești și să te menții pe piață prin diferite
      canale de promovare!
    </h5>
  </div>
  <div class="col-12 row mt-5 second">
    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
      <div class="text-center align-middle m-auto">
        <h4>
          Incepe sa cresti chiar astazi, nu mai sta pe ganduri!
        </h4>
        <h5>
          Noi te putem ajuta si iti punem la dispoziție o gamă variată de soluții și servicii de la Google Ads,
          Instagram Ads, Facebook Ads, LinkedIn Ads până
          la design de produs, website-uri si aplicatii de mobil.
        </h5>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <img class="w-100" src="assets/social-media-hand.png">
    </div>
  </div>
  <div class="col-12 row mt-5 second">
    <div class="col-12 col-md-6">
      <img class="w-100" src="assets/social-media-phone.png">
    </div>
    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
      <div class="text-center align-middle m-auto">
        <h4>
          Vrem sa te ajutam sa iti vezi visul implinit
        </h4>
        <h5>
          Alocă-ți timp pentru a face o schimbare în organizația ta! Alege să crești și să te menții pe piață!
      <br>
          Noi, echipa DIGITIFY, suntem aici pentru tine, ești pregătit?!
        </h5>
      </div>
    </div>
  </div>
  <div class="col-12 row mt-5 second">
    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
      <div class="text-center align-middle m-auto">
        <h4>
          Mediul online este perfect pentru tine
        </h4>
        <h5>
          De cand ne-a lovit pandemia, toate firmele, de la cele mai mici, la cele mai mari, s-au mutat in online pentru a putea fi mai aproape de clientii lor!
      <br>
          Vrem sa te ajutam sa fii chiar langa clientii tai, la un click distanta.
        </h5>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <img class="w-100" src="assets/web-development.png">
    </div>
  </div>
</div>
